body p {color:black;
		font-size:18px;
		line-height:130%;
		font-weight:300;}
    
* {
  margin: 0;
  padding: 0;
}


body {max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		overflow-x:hidden;
		font-family:"Museo-Sans-Condensed";}
		
.container-fluid {padding-left:3%;
		padding-right:3%;}
		
.advert {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

body a {font-weight:600;
		color:#4C7DAE;}

header ul {margin-left:auto;
			margin-right:auto;}

header li a {color:#808080;
				font-weight:400;
				font-family:'Georgia';
				font-size:16;}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;}

h1 {text-align:center;
	font-weight:600;
	font-family: "Museo-Sans-Condensed";
	font-size:7em;
	line-height:90%;
	margin-top:1%;
	text-transform:uppercase;
	letter-spacing:-.03em;}
	
@media screen and (min-width:331px) and (max-width:410px)
{h1 {font-size:3.5em;}}

@media screen and (max-width:330px)
{h1 {font-size:2.5em;}}

footer p {font-size:14px;}

#deck {font-family:"Arial";
		font-size:1.3em;}

#dropdown {font-family:"Arial";}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.social {margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-bottom:5%;}

.social img {display:inline;
				width:50px;}

#credits h3 {font-family:"Museo-Sans-Condensed";
			border-top:1px solid black;}

#credits {margin-bottom:3%;}

.img-circle {box-shadow: 10px 10px 5px #888888;
				border:1px solid black;}

@media all and (max-width:767px)
{.img-circle {max-width:150px;
						text-align:center;
					margin-left:auto;
					margin-right:auto;
					display:block;}}

.img-circle:hover {border:1px solid #8B0000;}

#subhead h3 {font-family:"Museo-Sans-Condensed";
				text-transform:uppercase;
				font-size:3.5em;
				color:red;
				margin-top:6%;
				margin-bottom:5%;
				color:#8B0000;
				border-bottom:solid 1px #8B0000;}

#category p {text-align:center;
				font-weight:700;
				margin-top:15px;}

#category a {color:black;}

#category a:hover {color:#8B0000;}

#rss {
		margin-top:6%;}

#rss p {margin-left:10%;}

#rss a {color:black;}

#circles {margin-bottom:6%;}

#shelter p {font-size:2em;
				font-weight:700;
				margin-top:2%;
				margin-bottom:2%;}

#category p {font-size:1.3em;}

.rssincl-title {text-transform:uppercase;
					font-weight:800;
					font-size:1.5em;}

.rssincl-itemdate {display:none;}

.rssincl-itemtitle a {color:black;}

.rssincl-itemdesc  {font-size:1em;}

.more {font-weight:700;}



